.container{
  width: 60%;
  border: 3px dodgerblue solid;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 10px 5px dodgerblue;
  position: relative;
  top: 1em;
  left: 20%;
}

.mainTitle, .mainSub{
  color: white;
  text-align: center;
}

